body {
    background-color: white; /* Change the background to white */
    color: green; /* Change text color to green */
    font-family: Arial, sans-serif; /* Use a casual font family */
    padding-bottom: 15%;
    background-size: contain;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading {
    background: rgba(122, 130, 136, 0.5)!important;
}

.panel-transparent .panel-body {
    background: rgba(46, 51, 56, 0.5)!important;
}

label {
    color: green; /* Change label text color to green */
}

th {
    color: green; /* Change table header text color to green */
}

td {
    color: green; /* Change table cell text color to green */
}

input {
    background: rgba(122, 130, 136, 0.2)!important;
    color: green!important;
}

textarea:focus, input:focus {
    color: green;
}

button {
    color: green;
}

div.jumbotron {
    background: transparent;
}

#header {
    color: green;
}

h3 {
    color: green; /* Change heading text color to green */
}
